body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(4, 24, 24);
}
.calculator {
    background-color: rgb(144, 142, 142);
    padding: 20px;
    border-radius: 10px;

}

.screen {
    width: 224px;
    background-color: rgb(203, 241, 203);
    font-size: 40px;
    text-align: end;
    padding: 4px;
    border-radius: 10px;
    overflow: scroll;
}

.buttons {
    width: 232px;
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: rgb(36, 36, 36);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 4px;
}

button:hover {
    background-color: rgb(8, 8, 8);
}

button:active {
    background-color: rgb(232, 232, 232);
}

#plus {
    background-color: rgb(0, 0, 255);
}

#plus:hover {
    background-color: rgb(0, 0, 255);
}
#divide {
    background-color: rgb(255, 55, 0);
}

#divide:hover {
    background-color: rgb(255, 55, 0);
}

#multiply {
    background-color: rgb(66, 194, 88);
}

#multiply:hover {
    background-color: rgb(66, 194, 88);
}

#subtract {
    background-color: rgb(184, 83, 209);
}

#subtract:hover {
    background-color: rgb(184, 83, 209);
}
#equals {
    background-color: rgb(218, 3, 3);
}

#equals:hover {
    background-color: rgb(198, 1, 1);
}

#clear {
    width: 100%;
    background-color: rgb(252, 226, 27);
    font-size: 30px;
}

#clear:hover {
    background-color: rgb(248, 194, 0);
}


